body {
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    position: relative;
    text-align: right;
}

header>img {
    position: relative;
    width: 30%;
    height: auto;
}

.content {
    position: relative;
    flex-shrink: 0;
    text-align: center;

    margin-bottom: 207px;
}

.content>img {
    position: relative;
    width: 30%;
    height: auto;
}

.content>.msg {
    position: relative;

    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: auto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.footer {
    height: 15%;
    position: relative;
    flex-shrink: 0;
    
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;

    border-radius: 10px;
    background: #515151;
}

.button-here {
    height: 60%;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;

    position: relative;
    
    border-radius: 20px;
    border: 3px dashed #FFF;
    background: #505050;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: auto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-togo {
    flex-shrink: 0;
    height: 60%;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    
    border-radius: 20px;
    border: 3px dashed #FFF;
    background: #505050;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: auto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
