body {
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    overflow: hidden;
    
    background: #654330;
}

.button-home {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-shrink: 0;
    
    color: #E6E6E6;
    font-family: Inter;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-home img {
    width: 7.5%;
    height: auto;
    flex-shrink: 0;

    margin: 5px;
}

.menu-tabs {
    flex-shrink: 0;

    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-tabs img{
    width: 7.5%;
    height: auto;

    flex-shrink: 0;
}

.menu-tabs > div {
    flex-shrink: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 15px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 14px;
    margin: 5px;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-tabs > .strong {
    background: orange;
}

table {
    height: 80%;
    flex-shrink: 0;

    border-radius: 10px;
    background: #FFFEFE;
    margin-left: 29px;
    margin-right: 29px;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

th {
    flex-shrink: 0;
}

th>img {
    width: 90%;
    height: auto;
    margin-top: 32px;
}

td>img {
    width: 90%;
    height: auto;
    flex-shrink: 0;
}

.list-selected {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    
    margin-top: 30px;
    margin-bottom: 30px;

    background: #F1F1F1;
}

footer {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    background: #313131;
}

.count-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.number-order {
    text-align: center;
    color: #FAFAFA;
    font-family: Inter;
    font-size: 7.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-order {
    text-align: center;
    color: #FAFAFA;
    font-family: Inter;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price-total {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.number-price {
    text-align: center;
    color: #009DB2;
    font-family: Inter;
    font-size: 7.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-price {
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons {
    margin-left: 15px;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.button-cancel {
    margin: 11px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
    background: #0F9AC6;
}

.button-cancel > img {
    width: 40%;
    height: auto;

    padding-top: 10px;
    padding-bottom: 10px;
}

.text-cancel {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-card {
    margin: 11px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background: #E73131;
}

.button-card > img {
    width: 50%;
    height: auto;
}

.text-card {
    padding-top: 5px;
    padding-bottom: 5px;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 4.115vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-credits {
    margin: 11px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background: #0E41C5;
}

.button-credits > img {
    width: 50%;
    height: auto;
}

.text-credits {
    padding-top: 5px;
    padding-bottom: 5px;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 4.115vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
