/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: #333;
}

/* 이미지 스타일링 */
label img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
}

/* 라디오 버튼과 체크 박스의 위치 조절 */
input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

/* 주문 버튼 스타일링 */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #E64A19;
}

/* 옵션 창 숨김 스타일 */
.hidden {
    display: none;
}
